{% extends "base.html" %}

{% block content %}

    <div class="row">
            <div class="col">
                <div class="form-group">
                    <button id="WeatherButton" class="btn btn-outline-primary">Check 10-day forecast</button>
                </div>
            </div>
    </div>
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <div id="weather"></div>
{% endblock %}

{% block js %}
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>

    <script type="text/javascript" src="{{ url_for('static', filename = 'weather.js') }}"></script>
{% endblock %}
